AQORA_HOST=staging.aqora.co
AQORA_PORT=443
AQORA_PROTOCOL=https
AQORA_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
AQORA_API_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

NSQ_LOOKUPD_ADDRESSES=172.17.42.1:4161
NSQ_MAX_IN_FLIGHT=10
NSQ_MAX_ATTEMPTS=5
NSQ_REQUEUE_DELAY=2000
NSQ_TOPIC_NAME=feedata
NSQ_CHANNEL_NAME=store
